.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 20;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  z-index: 20;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.branding {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

#logo {
  border-right: solid 1px MediumAquamarine;
}

#name {
  padding-left: 10px;
  color: MediumAquamarine;
}

.header .nav {
  display: flex;
  margin-right: 20px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav ul li {
  display: inline-block;
  padding: 20px;
}

.nav ul li a {
  font-weight: bold;
  color: black;
}

.main {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  padding: 75px 0 0 0;
  z-index: 10;
}

.LeftCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-basis: 630px;
  justify-content: space-between;
}

.headline {
  display: flex;
}

.headline p {
  display: flex;
  color: white;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  height: 300px;
  text-align: center;
  align-items: center;
  margin-bottom: 0;
}

h1 {
  margin-bottom: auto;
}

.large {
  display: flex;
  flex-direction: column;
}

.sub {
  width: 299px;
}

p {
  display: flex;
  font-family: georgia;
  font-size: 17px;
  color: black;
}

#mainStory {
  display: flex;
  background-image: url(./resources/images/img-story-main.png);
  text-align: left;
  font-size: 40px;
  margin-top: 0;
}

#sunset {
  background-image: url(~/resources/images/img-story-2.png);
  background-repeat: repeat;
}

#camera {
  background-image: image(~./resources/images/img-story-3.png);
}

.CenterCol {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  margin: 0 40px 0 40px;
}

#cats {
  background-image: url(~./resources/images/img-story-1.png);
}

.RightCol {
  display: flex;
  flex-direction: column;
  flex-basis: 240px;
}

.small {

}

.small p {
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}

.small ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.small ul li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: solid black 1px;
  padding: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  padding: 70px 0;
  font-family: Verdana;
  font-size: 12px;
  width: 100%;
}

.footerName p {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: solid 2px white;
  padding-right: 20px;
  margin-right: 15px;
}

.footerNav {
  display: flex;
  padding: 0;
  margin: 0;
}

.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerTop ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

}

.footerTop ul li {
  margin: 0 15px;
  padding: 0 15px;
  color: black;
}

.footerTop ul li a {
  color: black;
}

.footerBottom p {
  margin: 0;
  padding: 0;
}
