.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 1px black;
  justify-content: space-between;
  height: 80px;
  width: 100%
}

.branding {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 20px;
}

#logo {
  border-right: solid 1px MediumAquamarine;
}

#name {
  padding-left: 10px;
  color: MediumAquamarine;
}

.header .nav {
  display: flex;
  margin-right: 20px;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav ul li {
  display: inline-block;
  padding: 20px;
}

.nav ul li a {
  font-weight: bold;
  color: black;
}

div {
  border: solid 1px black;
}

.main {
  display: flex;
  justify-content: flex-start;
  margin: 0 50px;
  padding: 10px 0 0 0;
}

.LeftCol {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.headline {
  display: flex;
}

.headline p {
  color: white;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  height: 300px;
  flex-basis: 630px;
  text-align: center;
  margin-bottom: 0;
}

#mainStory {
  background-image: url(/Users/kb186036/WebProjects/MyTimes/resources/images/img-story-main.png);
  text-align: left;
  font-size: 40px;
  margin-top: 0;
}

#sunset {
  background-image: url(/Users/kb186036/WebProjects/MyTimes/resources/images/img-story-2.png);
  background-repeat: repeat;
}

#camera {
  background-image: url(/Users/kb186036/WebProjects/MyTimes/resources/images/img-story-3.png);
}

.CenterCol {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 40px 0 40px;
}

.RightCol {
  display: flex;
  flex-direction: column;
  width: 242px;
}
